@import url(https://fonts.googleapis.com/css?family=Montserrat);

#form1 {
    display: block;
    height: 900px;
    width: 700px;
    text-align: center;
    font-size: 40px;
    color: orange;
    font-weight: bold;
    font-family: 'Courier New';
    margin-left: auto;
    margin-right: auto;
}

#Calendar1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: center;
    padding: 60px;
    margin-top: auto;
    background: url('images/propper.jpg');
    height: 800px;
    width: 100%;
    background-size: cover;
    margin-left: 0 auto;
    margin-right: 0 auto;
    font-family: 'Lato';
}
body {
    background: url('images/microphone.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
    font-weight: bold;
}

svg {
    display: block;
    font: 12em 'Montserrat';
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    font-weight: bold;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

    .text-copy:nth-child(1) {
        stroke: #4D163D;
        animation-delay: -1;
    }

    .text-copy:nth-child(2) {
        stroke: #840037;
        animation-delay: -2s;
    }

    .text-copy:nth-child(3) {
        stroke: #BD0034;
        animation-delay: -3s;
    }

    .text-copy:nth-child(4) {
        stroke: #BD0034;
        animation-delay: -4s;
    }

    .text-copy:nth-child(5) {
        stroke: #FDB731;
        animation-delay: -5s;
    }

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}
